<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <p>Usando  EJS</p>
        </div>
      
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>